{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}
    Tableau de bord
{% endblock %}

{% block pageName %}
    Tableau de bord
{% endblock %}

{% block body %}
    <p><a href="https://pro1.mail.ovh.net/owa" target="_blank">Boite email contact@hotel-le-pressoir.com</a></p>
    <p>Login : contact@hotel-le-pressoir.com</p>
    <p>Mot de passe : MDP2mail*!</p>
{% endblock %}
