{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ 'contactpage.title'|trans }}</h2>
                    <p>{{ 'contactpage.description'|trans }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mg-page">
        <div class="container">
            <div class="row">
                {% include 'AppBundle:Contact/include:form-mail.html.twig' %}
                {% include 'AppBundle:Contact/include:adress-map.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {% include '@App/Contact/include/map_js.html.twig' %}
{% endblock %}