<div class="col-md-7">
    <h2 class="mg-sec-left-title">{{ 'contactpage.adress.title'|trans }}</h2>
    <p>{{ 'contactpage.adress.description'|trans }}</p>
    <ul class="mg-contact-info">
        <li><i class="fa fa-map-marker"></i> 300 Route de Saint-Pons, 34360 Saint-Chinian</li>
        <li><i class="fa fa-phone"></i> 04 67 38 18 60</li>
        <li><i class="fa fa-envelope"></i> <a href="mailto:#">example@example.com</a></li>
    </ul>
    <div id="mg-map" class="mg-map"></div>
</div>