<div class="mg-page">
    <div class="container">
        <div class="row">
            {% include 'AppBundle:Contact/include:form-mail.html.twig' %}
            {% include 'AppBundle:Contact/include:adress-map.html.twig' %}
        </div>
    </div>
</div>