<div class="col-md-5">
    <h2 class="mg-sec-left-title">Send an E-mail</h2>
    <form class="clearfix">
        <div class="mg-contact-form-input">
            <label for="full-name">Full Name</label>
            <input type="text" class="form-control" id="full-name">
        </div>
        <div class="mg-contact-form-input">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" id="email">
        </div>
        <div class="mg-contact-form-input">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" id="subject">
        </div>
        <div class="mg-contact-form-input">
            <label for="subject">Message</label>
            <textarea class="form-control" id="subject" rows="5"></textarea>
        </div>
        <input type="submit" class="btn btn-dark-main pull-right" value="Send">
    </form>
</div>