<div class="navbar-header">
    {# Menu Hamburger #}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a  class="navbar-logo" href="{{ path('admin_dashboard') }}">
        <img
            src="#"
            title="logo"
        />
    </a>

    <a class="navbar-brand" href="{{ path('admin_dashboard') }}">
        Administration du site
    </a>
</div>
