<div class="mg-about parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2 class="mg-sec-left-title">{{ 'homepage.about.title'|trans }}</h2>
                <p>{{ 'homepage.about.description'|trans }}</p>
            </div>
            <div class="col-md-5">
                <div class="video-responsive">
                    <iframe src="https://player.vimeo.com/video/134008155" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
