{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}
    Ajout d'une chambre
{% endblock %}

{% block pageName %}
    Ajout d'une chambre
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('admin_room') }}">Chambres</a></li>
    <li>Ajout</li>
{% endblock %}

{% block body %}
    {% include 'AdminBundle:Room:form.html.twig' %}
{% endblock %}
