{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}
    Ajout d'une image principale
{% endblock %}

{% block pageName %}
    Ajout d'une image principale
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('admin_room') }}">Chambres</a></li>
    <li><a href="{{ path('admin_room_edit' , {'room' : room.id} ) }}">{{ translate(room.translations, 'name') }}</a></li>
    <li>Ajout Image principale</li>
{% endblock %}

{% block body %}
    {% include 'AdminBundle:Room:include/formPicture.html.twig' %}
{% endblock %}
