{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}
    Edition de la chambre "{{ translate(room.translations, 'name') }}"
{% endblock %}

{% block pageName %}
    Edition de la chambre "{{ translate(room.translations, 'name') }}"
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('admin_room') }}">Chambres</a></li>
    <li>Edition de la chambre "{{ translate(room.translations, 'name') }}"</li>
{% endblock %}

{% block body %}
    {% include 'AdminBundle:Room:include/form.html.twig' %}
{% endblock %}
