{# Ouverture du formulaire #}
{% include 'AdminBundle:Form:form-start.html.twig' with {'form': form} %}

{% include 'AdminBundle:Form:field.html.twig' with {'attribut': form.price, 'label' : "Prix (en €)"} %}
{% include 'AdminBundle:Form:field.html.twig' with {'attribut': form.isBest, 'label' : "Mettre en avant"} %}

{#{{ dump(form.picture.translations) }}#}
<fieldset>
    <legend>Traductions</legend>
    <table class="col-md-12">
        <tr>
            {# Ajout des champs du formulaire #}
            {% for roomTranslation in form.translations %}
                <td>
                    {% include 'AdminBundle:Form:field.html.twig' with {'attribut': roomTranslation.locale, 'label' : "Langage"} %}
                    {% include 'AdminBundle:Form:field.html.twig' with {'attribut': roomTranslation.name, 'label' : "Nom"} %}
                    {% include 'AdminBundle:Form:field.html.twig' with {'attribut': roomTranslation.description, 'label' : "Description"} %}
                    {% include 'AdminBundle:Form:field.html.twig' with {'attribut': roomTranslation.content, 'label' : "Contenu"} %}
                </td>
            {% endfor %}
        </tr>
    </table>
</fieldset>
{# Fermeture du formulaire #}
{% include 'AdminBundle:Form:form-end.html.twig' with {'form': form} %}
