{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}
    Ajout d'un aménagement
{% endblock %}

{% block pageName %}
    Ajout d'un aménagement
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('admin_fecilities') }}">Aménagements</a></li>
    <li>Ajout</li>
{% endblock %}

{% block body %}
    {% include 'AdminBundle:Fecilities:include/form.html.twig' %}
{% endblock %}
