{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}
    Ajout d'un contenu
{% endblock %}

{% block pageName %}
    Ajout d'un contenu
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('admin_content') }}">Contenus</a></li>
    <li>Ajout</li>
{% endblock %}

{% block body %}
    {% include 'AdminBundle:Content:include/form.html.twig' %}
{% endblock %}
