{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}
    Edition du contenu "{{ translate(content.translations, 'name') }}"
{% endblock %}

{% block pageName %}
    Edition du contenu "{{ translate(content.translations, 'name') }}"
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('admin_content') }}">Contenus</a></li>
    <li>Edition du contenu "{{ translate(content.translations, 'name') }}"</li>
{% endblock %}

{% block body %}
    {% include 'AdminBundle:Content:include/form.html.twig' %}
{% endblock %}
